body {
    padding-bottom: 50px;
}

/* Responsive video iframes (https://www.w3schools.com/howto/howto_css_responsive_iframes.asp) */

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* for 16:9 aspect ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}